@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --main-color: #ffff;
    --text-color: black;
    --seamelody-color: #bcd5ea;
}



* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: Nunito;
    background-color: var(--main-color);
}

/* ------------------------------ */


.header {
    padding: 60px;
    text-align: center;
    background-color: var(--seamelody-color);
    color: white;
    font-size: 30px;
}

/* dsfsfsdfsfsfsfsfsfsd */
ul.catalog__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

ul.catalog__list li {
    flex-basis: 30%;
    display: block;
}









.catalog__item a {
    text-decoration: none;
    color: var(--text-color);
}


/* Button */
button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

button.learn-more {
    width: 12rem;
    height: auto;
}

button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background-color: var(--seamelody-color);
    border-radius: 1.625rem;
}

button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: "";
    top: -0.29rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
}

button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
}

button:hover .circle {
    width: 100%;
}

button:hover .circle .icon.arrow {
    background: #fff;
    transform: translate(1rem, 0);
}

button:hover .button-text {
    color: #fff;
}

/* Review */
.info {
    background-color: transparent;
    padding: 15px 50px;
}

.info__switch {
    display: none;
}

.info__body {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 1px solid var(--seamelody-color);
}

.info__switch:checked~.info__body {
    max-height: 350px;
}

.info__headline::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 8px;
    border: 6px solid var(--seamelody-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch:checked~.info__headline::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: var(--seamelody-color);
    font-weight: normal;
    cursor: pointer;
}




/* Settings */
.info-2 {
    background-color: transparent;
    padding: 15px 50px;
    margin-left: 150px;
}

.info__switch-2 {
    display: none;
}

.info__body-2 {
    max-height: 0px;
    overflow: hidden;
    transition: 0.5s;
    border-bottom: 1px solid var(--seamelody-color);
}

.info__switch-2:checked~.info__body-2 {
    max-height: 350px;
}



.info__headline-2::before {
    content: "";
    position: absolute;
    left: -18px;
    top: 8px;
    border: 6px solid var(--seamelody-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    border-left-color: transparent;
}

.info__switch-2:checked~.info__headline-2::before {
    transform: rotate(180deg) translateY(6px);
}

.info__headline-2 {
    display: block;
    position: relative;
    margin-bottom: 15px;
    user-select: none;
    color: var(--seamelody-color);
    font-weight: normal;
    cursor: pointer;
}








/* Video */
.typing {
    width: 555px;
    margin-top: 20px;
}






/* Footer */
.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    background-color: var(--seamelody-color);
    width: auto;
}

.footer__info-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__main-info {
    margin-bottom: 30px;
}

.footer__main-info a {
    text-decoration: none;
    color: var(--main-color);
}

.footer__info-item {
    margin-left: 30px;
}

.footer__info-item:first-child {
    margin-left: 0px;
}




/* Card */


.card {
    box-sizing: border-box;
    width: 350px;
    height: 400px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
}

.card:hover {
    border: 1px solid var(--seamelody-color);
    transform: scale(1.05);
}

.card:active {
    transform: scale(0.95) rotateZ(1.7deg);
}